*.o
philo

# LSP / tooling
compile_commands.json
.clangd/
.clangd_cache/
.cache/

# Neovim
*.swp
*.swo
*.swx
*~
.session
.netrwhist
.undodir/
.nvimundo/

# OS junk
.DS_Store

# for valgrind
vgcore.*

# tests
philosopher-tests.sh
